.App {
    text-align: center;
    height: 100%;
<<<<<<< HEAD
<<<<<<< HEAD
    margin-bottom: 20%;
=======
>>>>>>> 41cd1c1b5566f613acf1423cc54e1572ffaa5da5
=======
>>>>>>> 41cd1c1b5566f613acf1423cc54e1572ffaa5da5
}

.App-logo {
    height: 40vmin;
}
<<<<<<< HEAD
<<<<<<< HEAD
.fhNQJW {
    top: auto !important;
}
.pan-container {
    pointer-events: none;
}
=======

>>>>>>> 41cd1c1b5566f613acf1423cc54e1572ffaa5da5
=======

>>>>>>> 41cd1c1b5566f613acf1423cc54e1572ffaa5da5
.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #09d3ac;
}
